/* .no_exif_metadata:hover,
.exif_metadata:hover,
.gps_metadata:hover {
  filter: none;
}

.exif_metadata {
  filter: sepia(1);
}

.no_exif_metadata {
  filter: grayscale(1);
}

.gps_metadata {
  filter: sepia(1) hue-rotate(135deg);
} */
