.no_exif_metadata,
.exif_metadata,
.gps_metadata {
  position: relative !important;
  transition: filter 0.2s ease-in-out;
}

/* 
.exif_metadata:before {
  content: "EXIF";
  font-family: "Arial Black";
  position: absolute;
  font-size: 12px;
  line-height: 18px;

  font-weight: bolder;
  padding: 3px;
  border-bottom-right-radius: 3px;
  top: 0px;
  left: 0px;
  background-color: orange;
  color: black;
  display: inline-block;
  transition: opacity 0.2s ease-in-out;
}

.exif_metadata:before:hover {
  opacity: 0;
} 
*/

.exif_metadata {
  filter: sepia(1);
}

.no_exif_metadata {
  filter: grayscale(1);
}

.exif_metadata:hover {
  filter: sepia(0);
}

.no_exif_metadata:hover {
  filter: grayscale(0);
}

.gps_metadata {
  animation: brightness 1.5s infinite;
}

.gps_metadata:hover {
  animation: none;
}

@keyframes brightness {
  0%,
  100% {
    -webkit-filter: brightness(none);
  }
  50% {
    -webkit-filter: brightness(2);
  }
}
