body {
  padding: 10px 5px;
  width: 500px;
}

/* .img-fluid {
  min-width: 100%;
} */

table {
  font-size: smaller;
  table-layout: fixed;
}

td {
  word-wrap: break-word;
}

.key {
  font-weight: bold;
}

#scan-btn {
  margin-bottom: 10px;
}
